/* UPPER SECTION WORK */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}


#page-1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 20px;
}

#nav {
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

#nav-part-2 h4 {
    padding: 10px 20px;
    border: 1px solid #8a8a8a;
    border-radius: 50px;
    font-weight: 500;
    color: black;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#right {
    padding-bottom: 70px;
}

#nav-part-2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part-2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part-2 a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
}

#nav-part-2 a:hover {
    color: white;
}

/* UPPER SECTION WORK COMPLETED */


#center {
    width: 100%;
    height: 67vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#left h3 {
    width: 25vw;
    font-size: 2vw;
    line-height: 2.5vw;
    padding-left: 26px;
}

#center h1 {
    font-size: 10vw;
    height: 10vw;
    line-height: 9vw;
    text-align: right;
    padding-bottom: 330px;
    padding-right: 50px;
}

#page-1 video {
    width: 100%;
    border-radius: 1.5vw;
    margin-top: 6vw;
    position: relative;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 82vh;
}

#hero-1 {
    background-color: #FE330A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    filter: blur(20px);
}

#hero-2 {
    background: linear-gradient(#FE330A, #ff4019);
    height: 30vw;
    width: 30vw;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    filter: blur(20px);
    animation-name: anime2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

#hero-3 {
    background: linear-gradient(#FE330A, #ff4019);
    height: 30vw;
    width: 30vw;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    filter: blur(20px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -2%);
    }

    to {
        transform: translate(0%, -10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -3%);
    }

    to {
        transform: translate(-20%, 20%);
    }
}

#page-2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding-top: 100px;
    position: relative;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    background-color: #EFEAE3;
    display: inline-block;
    animation-name: move;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#moving-text h1 {
    font-size: 11vw;
    display: inline-block;
}


#gola {

    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: #FE330A;
    display: inline-block;
    margin: 6px 25px;
}

@keyframes move {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

#page-2-bottom {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 7vw;
    position: relative;
    z-index: 9;
}

#page-2-bottom h1 {
    font-size: 4vw;
    width: 50%;
    line-height: 4vw;
}

#page-2-bottom p1 {
    padding-top: 1156px;
    translate: -840px;
    display: flex;
}

.ball {
    translate: 30px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #FE330A;
    display: inline-block;
    margin: 5px 45px;
}

#bottom-part-2 {
    width: 25%;
}

#bottom-part-2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part-2 p {
    font-weight: 20px;
    margin: 2vw;
    width: 100%;
    text-align: left;
    translate: -20px;
}

#second-animation {
    height: 40vw;
    width: 40vw;
    position: absolute;
    background: linear-gradient(to top right, #ff0202, #ff5500);
    border-radius: 50%;
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: second-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes second-animation {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#page3 {
    min-height: 100vh;
    min-width: 100%;
    background-color: #EFEAE3;
    padding: 22vw 0;
}

.elem {
    min-height: 140px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(55, 49, 49);
    padding: 0 2vw;
    overflow: hidden;
}

.elem h2 {
    font-size: 3.5vw;
    position: relative;
    z-index: 9;
    display: flex;
}

.elem p {
    translate: 1370px;
    font-weight: normal;
    font-size: 15px;
    position: absolute;
    padding-top: 25px;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

.elem:hover .overlay {
    top: 0;
}

#fixed-image {
    height: 30vw;
    width: 24vw;
    background-color: red;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    border-radius: 10px;
    display: none;
    background-size: cover;
    background-position: center;
}


#nav-part-3 {
    translate: 40px;
    font-size: 22px;
    border: 1px solid black;
    border-radius: 30px;
    width: 23%;
    height: 60px;
    color: black;
    text-align: center;
    padding-top: 15px;
}

#nav-part-3:hover {
    background-color: black;
    color: white;
}

#page-4 {
    height: 210vh;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    position: absolute;
    padding-left: 30px;
}

#page-left {
    background-color: #2b2929;
    height: 117.5vh;
    width: 40%;
    border-radius: 20px;
    position: absolute;
}

#page-right {
    padding-right: 30px;
    height: 5vh;
    width: 46.5%;
    border-radius: 15px;
    background-color: #EFEAE3;
    position: absolute;
    translate: 570px;
}




.design {
    padding-left: 105px;
    padding-top: 100px;
    font-size: 70px;
}

.only-design {
    color: white;
}

.paragraph {
    width: 60%;
    padding-left: 10px;
    translate: 100px;
    font-size: 20px;
    color: white;
}

#page-5 {
    width: 100%;
    height: 400vh;
}

#main {
    /* background-color: black; */
    position: relative;
    z-index: 12;
}

#footer {
    position: fixed;
    z-index: 9;
    height: 135vh;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    flex-direction: column;
    position: fixed;
    display: flex;
}

#footer h1 {
    padding-top: 20px;
    font-size: 24vw;
    text-align: center;
}

#foot-up {
    padding-top: 450px;
    height: 15vh;
    width: 100%;
    background-color: #FE330A;
}

#foot-down {
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.swiper-wrapper {
    translate: -310px;
    height: 500px;
    padding-top: 1000px;
    border-radius: 20px;
}


body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #000;
}

.swiper-slide img {
    display: block;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 30vw;
    height: 20vh;
    object-fit: cover;
    text-align: center;
}

.swiper-slide {
    width: 30%;
}


@media (max-width:600px) {

    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    #center {
        height: 62vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }

    #center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    #gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }

    #page2-bottom {
        height: 90vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    #page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    #bottom-part2 {
        width: 70%;
        /* background-color: aqua; */
    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }

    #bottom-part2 p {
        font-weight: 200;
        margin-top: 2vw;
        font-size: 3vw;
    }

    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        /* background: linear-gradient(to top right,red,blue); */


        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }


}

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;

    }
}